/* 2 egyenlo oszlop */
.galeria {
  display: grid;
  grid-template-columns: repeat(4,1fr); 
  gap: 15px;
  width: 100%;
  max-width: 900px;
}

.kiskep {
  background: white;
  border: 3px solid transparent;
  border-radius: 12px;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;
}

.kiskep:hover {
  transform: translateY(-4px);
}
.kiskep.aktiv{
  border-color: #4b3f9e;
}
/* Eltunteti a kepek alatti extra ures helyet */
.kiskep img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

@media(max-width:640px) {
  .galeria{
    grid-template-columns: repeat(2,1fr);
  }
}